@import url('https://fonts.googleapis.com/css?family=Courgette|Merriweather+Sans:300,400,700&display=swap');

body {
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #f8f9fa;
}

#main-header {
    font-family: "Courgette", sans-serif;
    color: var(--primary) !important;
    font-size: 2.5rem;
    line-height: 1.5em
}

.navbar-brand {
    font-family: "Courgette", sans-serif;
    color: var(--primary) !important;
}

.bg-darkglass {
    background-color: rgba(20, 20, 20, 0.5);
}


.banner-image {
    background-size: cover;
    background-repeat: no-repeat;
}

.user-image {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.switch {
    display: flex;
    justify-content: flex-start;
}

.button-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button-group button {
    width: 200px;
    font-size: 0.9em;
}

.sidebar {
    font-size: 0.9em;
    font-style: italic;
}

.sidebar ul {
    padding-left: 1em;
}

.sidebar li {
    padding-left: 0;
    list-style-type: none;
}

.recipe-header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    font-style: italic;
}

.recipe-info span {
    font-size: 1.2em;
}

.button-main,
.button-secondary {
    vertical-align: center;
    text-align: center;
}

.button-main {
    width: 60%;
    max-width: 300px;
}

.button-secondary {
    width: 30%;
    max-width: 200px;
}

footer#main-footer {
    border-top: 1px lightgray solid;
    margin-top: 40px;
}

#back-top-in-footer {

    height: 30px;
    font-size: 20px;
    position: relative;
    top: -30px;
    border: 1px lightgray solid;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}

.object-fit-cover {
    object-fit: cover;
}

.object-fit-contain {
    object-fit: contain;
    object-position: 50% 50%;
}

.spoon {
    display: inline-block;
    width: 30px;
    text-align: center;

}

.spoon>i {
    font-size: 22px;
    display: inline-block;
    cursor: pointer;
}

.carusel-container {
  height: 50vh  
  display: flex;
  align-items: center;
  justify-content: center;
}

#receipe-showcase .carousel-inner .image-container {
    height: auto;
    width: auto;
    overflow: hidden;
    max-height: 50vh;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .switch {
        justify-content: center;
    }

    .recipe-header h1 {
        font-size: 4rem;
        font-weight: 300;
        line-height: 1.2;
    }

    #main-header {
        font-size: 3rem;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #main-header {
        font-size: 4rem;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .banner-image {
        padding-top: 10em;
        padding-bottom: 5em;
    }

}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}
