.bg-darkglass {
    background-color: rgba(20, 20, 20, 0.5);
}


.banner-image {
    background-size: cover;
    background-repeat: no-repeat;
}

.user-image {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

@media (min-width: 992px) {
    .pt-lg-10 {
        padding-top: 10em !important;
    }
    .pb-lg-10 {
        padding-bottom: 10em !important;
    }
    .pr-lg-10 {
        padding-right: 10em !important;
    }
    .pl-lg-10 {
        padding-left: 10em !important;
    }

}
