<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>

  <link rel="icon" type="image/ico" href="{{ url_for('static', filename='icons/favicon.ico') }}" />

  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myStyles.css') }}" />
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded sticky-top ">
    <div class="container">
      <a class="navbar-brand text-bolder" href="{{ url_for('home') }}">Open Cookbook</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

      <div class="navbar-collapse collapse" id="navbarsExample09" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('recipes') }}">All Recipes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown-categories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recipes by Category</a>
            <div class="dropdown-menu" aria-labelledby="dropdown-categories">
              {% for category in categories_list %}
              <a class="dropdown-item" href="{{url_for('recipes_by_category', category_id=category._id)}}">{{category.name}}</a> 
              {% endfor %}
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown-cuisines" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recipes by Cuisine</a>
            <div class="dropdown-menu" aria-labelledby="dropdown-cuisines">
              {% for cuisine in cuisines_list %}
              <a class="dropdown-item" href="{{url_for('recipes_by_cuisine', cuisine_id=cuisine._id)}}">{{cuisine.name}} Cuisine</a> 
              {% endfor %}
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>


  {% block content %} {% endblock %}


  <footer id="main-footer" class="text-center text-muted bg-light mb-0 pb-5">
    <a href="#" id="back-top-in-footer" class="badge badge-light">TOP</a>
    <p>Website made by Pawel Wodyk for Code&nbsp;Institute's Milestone Project.</p>
    <small>All the recipes are from <a href="https://www.bbcgoodfood.com/" class="text-decoration-none">BBC Good Food</a><br> for demonstrational purposes only!</small>

  </footer>

  <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>


  <script type="text/javascript" src="{{url_for('static', filename='js/myScripts.js')}}"></script>

</body>

</html>
