{% extends 'base.html' %} {% block content %}



<div class="container py-5">

  <h1>Recipes:</h1>

  <div class="d-flex flex-grow-1 align-content-start flex-wrap">

    {% for recipe in recipes_list %}

    <div class="col-12 col-lg-6 p-2">
      <a href="">
        <div class="card bg-dark text-light d-flex align-items-end" style="height: 400px;">
        <img src="{{ url_for('static', filename='img/{0}'.format(recipe.picture)) }}" class="card-img h-100" alt="picture of {{recipe.name}}" style="object-fit: cover;">
        <div class="card-img-overlay overflow-auto align-items-start flex-column h-100">
          <div class="bg-darkglass p-2 text-wrap mb-auto ">
            <h2 class="card-title font-weight-bold">{{recipe.name}}</h2>
            <p class="card-text">by&nbsp;{{ recipe.author.name }}</p>
          </div>
        </div>
      </div>
      </a>
    </div>

    {% endfor %}

    <div class="d-flex justify-content-end w-100 mx-2">
      <button type="button" class="btn btn-success px-3">Add Recepie + </button>
    </div>
  </div>
</div>

{% endblock %}

<!--{% block script %} {% endblock %}-->
