{% extends 'base.html' %} {% block content %}

<div class="container py-5">

  <h1 class="font-italic text-center mb-3 pb-2 border-bottom border-primary">Recipes:</h1>
  {% if recipes_list %}
  <div class="row px-2 d-flex flex-grow-1 align-content-start flex-wrap">
    {% for recipe in recipes_list %}
    <div class="col-12 col-lg-6 p-2">
      <a href="{{ url_for('display_recipe', recipe_id=recipe._id) }}">
        <div class="card bg-dark text-light d-flex align-items-end" style="height: 400px;">
          <img src="{{ url_for('static', filename='img/{0}'.format(recipe.picture)) }}" class="card-img h-100 object-fit-cover" alt="picture of {{recipe.name}}">
          <div class="card-img-overlay overflow-auto align-items-start flex-column h-100 rounded">
            <div class="bg-darkglass p-2 text-wrap mb-auto ">
              <h2 class="card-title font-weight-bold">{{recipe.name}}</h2>
              <h3 class="card-text">by&nbsp;<span class="text-capitalize font-italic">{{ recipe.author }}</span></h3>
              <p class="card-text">{{ recipe.description }}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
    
  {% else %}
  <div class="row d-flex justify-content-center">
    <div class="col-auto ">
      <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">No Recipies!</h4>
        <hr>
        <p>Unfortunatlly there are no recipes at this time. </p>
        <p class="mb-0">You can fix this by adding your recepie using <a href="{{ url_for('add_recipe') }}" class="badge badge-success">Add Recipe</a> button!</p>
      </div>
    </div>

  {% endif %}

    <div class="row d-flex justify-content-end w-100 mx-2">
      <a class="btn btn-success px-3" href="{{ url_for('add_recipe') }}">Add Recipe + </a>
    </div>
  </div>
</div>

{% endblock %}

<!--{% block script %} {% endblock %}-->
