{% extends 'base.html' %} {% block content %}

<div class="fluid-container">

  <div class="jumbotron p-4 p-md-5 text-white rounded banner-image d-flex pt-lg-10 " style="background-image: url( {{ url_for('static', filename='img/{}'.format(recipe.picture)) }} );">
    <div class="col-md-8 p-2 bg-darkglass">
      <h1 class="display-4 font-italic">{{ recipe.name }}</h1>
      <p class="lead my-3">{{ recipe.description }}</p>
    </div>
  </div>

</div>

<main role="main" class="container">
  <div class="row">

    <aside class="col-md-4 sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h3 class="font-italic">Ingredients:</h3>
        <ul>
          {% for item in recipe.ingredients %}
          <li>{{item.ingredient_amount}}&nbsp;{{item.ingredient_units}} - {{item.ingredient_name}}</li>
          {% endfor %}
        </ul>
      </div>
    </aside>

    <div class="col-md-8">


      <div class="row ">
        <h1 class="font-italic">
          {{ recipe.name }}
        </h1>
      </div>

      <div class="row border-bottom mb-4">
        <h2 class="text-muted font-italic">
          By {{ recipe.author}}
        </h2>
      </div>

      <div class="row my-3">
        <div class="col-12">
          <table class="table text-center bg-info text-light">
            <thead>
              <tr>
                <th scope="col">Vegiterian</th>
                <th scope="col">Contain Lactose</th>
                <th scope="col">Contain Gluten</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {% if recipe.is_vegiterian == True %} 
                  <i class="fas fa-leaf fa-lg"></i> 
                  {% else %}
                  <i class="fas fa-times-circle"></i>
                  {% endif %}
                </td>
                <td>
                  {% if recipe.has_lactose == True %} 
                  <i class="fas fa-glass-whiskey fa-lg"></i>
                  {% else %}
                  <i class="fas fa-times-circle"></i>
                  {% endif %}
                </td>
                <td>
                  {% if recipe.has_gluten == True %} 
                  <i class="fas fa-bread-slice fa-lg"></i> 
                  {% else %}
                  <i class="fas fa-times-circle"></i>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
          <small class="text-muted">* This information has been provided by anonymous users and they could be incorect! If you have any alergies please make sure you carefully check all the ingredients before consumption.</small>
        </div>
      </div>

      <div class="row mt-4 pt-2">
        <h3 class="font-italic">Instructions:</h3>
        <div class="border-top py-2">
          <ol>
            {% for step in recipe.preperation %}
            <li class="pb-2">{{step}}</li>
            {% endfor%}
          </ol>
        </div>
      </div>
    </div>
  </div>


  <div class="row my-2">
    {% for review in recipe.reviews %}
    <div class="col-12 col-md-6">
      <div class="row border rounded overflow-hidden m-3 shadow-sm ">
        <div class="col-12 col-sm-8 col-md-12 col-lg-8 p-3 d-flex flex-column position-static">

          <h5 class="mb-0 text-capitalize">{{review.name}}</h5>
          <div class="mb-1 text-muted">12/02/18</div>
          <p class="card-text mb-auto">{{review.description}}</p>
          <div class="d-inline-block mt-2 text-primary">
            {% if review.rating != null %} {% for star in range( review.rating ) %}
            <i class="fas fa-utensil-spoon"></i> {% endfor %} {% endif %}
          </div>
        </div>

        <div class="col-4 pr-2 d-none d-sm-flex d-md-none d-lg-flex justify-content-end align-items-center">
          <img src="{{ url_for('static', filename='img/{}'.format(recipe.picture)) }}" alt="" class="rounded-circle img-thumbnail user-image">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
